body {
  font-family: Arial, Helvetica, sans-serif;
}

#tooltip {
  position: absolute;
  padding: .5em;
  background-color: white;
  border: 1px solid gray;
  border-radius: .4em;
  width: 5em;
  text-align: center;
}

#bar-chart {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

#title {
  text-align: center;
  padding: 1em 0 0 0;
  font-size: 1.75em;
}

#subtitle {
  font-size: .75em;
}

#info {
  font-size: .75em;
  text-align: center;
}

.tick {
  font-size: 1.5em;
}
rect {
  cursor: pointer;
}
